<div class="grve-row grve-bookmark">
  <!-- HISTORY-->
  <div class="wpb_column grve-column grve-bookmark grve-column-1-2">
    <h2 class="vc_custom_heading">HISTORY</h2>
    <div class="grve-element grve-text" *ngFor="let booking of history">
      <div class="room-entity-full">
        <div class="grve-row">
          <div class="grve-column grve-column-1">
        <h5 class="grve-box-title">
          {{ booking.title }}
        </h5>

        <p class="time"><i class="blue fa fa-clock-o" aria-hidden="true"></i>{{ booking.fromDate | date: 'MMM dd, HH:mm' }}-{{ booking.toDate | date: 'HH:mm' }}
        </p>

        <p class="room-number"><i class="blue fa fa-location-arrow" aria-hidden="true"></i><strong>{{ booking.roomId }}</strong>
        </p>


        <div class="roomy-profile grve-element grve-image border-rad participant-img" *ngFor="let user of booking.participants | slice:0:2">
          <img [src]="user.picture" [matTooltip]="user.first + ' ' + user.last" />
        </div>
        <div class="roomy-profile grve-element" *ngIf="booking.participants.length > 2">
          <span [matTooltip]="plusMoreTooltip(booking)">
            +{{ booking.participants.length - 2 }} more
          </span>
        </div>
      </div>
        </div>
      </div>
    </div>
  </div>


  <!-- end HISTORY-->
  <!-- UPCOMING-->
  <div class="wpb_column grve-column grve-bookmark grve-column-1-2">
    <h2 class="vc_custom_heading">UPCOMING</h2>
    <div class="grve-element grve-text" *ngFor="let booking of upcoming">
      <div class="room-entity-full">
        <div class="grve-row">
          <div class="grve-column grve-column-1">
            <h5 class="grve-box-title">
        {{ booking.title }}
      </h5>

        <p class="time"><i class="blue fa fa-clock-o" aria-hidden="true"></i>{{ booking.fromDate | date: 'MMM dd, HH:mm' }}-{{ booking.toDate | date: 'HH:mm' }}
        </p>
            <p class="room-number"><i class="blue fa fa-location-arrow" aria-hidden="true"></i><strong>{{ booking.roomId }}</strong>
        </p>


            <div class="roomy-profile grve-element grve-image border-rad participant-img" *ngFor="let user of booking.participants | slice:0:2">
          <img [src]="user.picture" [matTooltip]="user.first + ' ' + user.last" />
        </div>

            <div class="roomy-profile grve-element" *ngIf="booking.participants.length > 2">
          <span [matTooltip]="plusMoreTooltip(booking)">
            +{{ booking.participants.length - 2 }} more
          </span>
        </div>
            <div class="grve-element grve-align-left clearance">
        <button class="cancel-button grve-btn grve-btn-extrasmall grve-round grve-black-color grve-btn-line" (click)="cancel(booking.bookingId)">CANCEL</button>
            </div>
    </div>
        </div>
      </div>
    </div>
  </div>

  <!-- end UPCOMING-->
</div>
