<div class="grve-row grve-bookmark">
  <div class="wpb_column grve-column grve-bookmark grve-column-1-2" *ngFor="let freeRoom of freeRoomsArray">
    <div class="room-entity-full">
      <div class="grve-row">
        <div class="grve-column grve-column-1">
          <h5 class="grve-box-title">
        {{ freeRoom.name }}
      </h5>

        <p class="time"><i class="blue fa fa-clock-o" aria-hidden="true"></i>{{ freeRoom.from | date: 'MMM dd, HH:mm' }}-{{ freeRoom.to | date: 'HH:mm' }}
        </p>



        <div class="grve-element grve-align-left clearance" *ngIf="(user$ | async)">
        <button class="book-button join-button grve-btn grve-btn-small grve-round grve-bg-primary-1 grve-btn-line" (click)="book(freeRoom)">BOOK</button>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
