/*
 Theme Name:   Osmosis Child
 Theme URI:    http://themeforest.net/user/greatives
 Description:  Osmosis Child Theme
 Version:      3.3.1
 Author:       Greatives Team
 Author URI:   http://greatives.eu
 Text Domain:  osmosis
 Template:     osmosis
*/


.mat-dialog-container label {
  line-height:2em !important;
}

.mat-dialog-container button {
  padding:1em !important;
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing:0;
}

.mat-dialog-container .cancel-button {
  background-color:#000;

}
.mat-dialog-container .button-submit {
  margin-right:20px;
}


input.mat-input-element {
  border:none !important;
}

body {
  font-size: 14px;
  font-family: "Open Sans";
  font-weight: 400;
}

.clearance {
  clear: both;

}

.book-button {
  margin-top:20px;
  margin-bottom:20px;
}
.grve-btn.grve-btn-line:hover {
  background-color:#03a9f4;
  color:#fff !important;
}

a.help-link {
  color: #03a9f4;
}

a.help-link:hover {
  color: #6e7177;
  text-decoration:underline;
}

.featured-image {
  max-width:200px;
}

.profile-area {
}

.user-data {
  text-transform: capitalize;
}


.grve-btn.grve-btn-line.grve-bg-primary-1 {
  color: #03a9f4;
  border-color: #03a9f4;
}

#grve-theme-wrapper input, #grve-theme-wrapper input:hover, #grve-theme-wrapper input:focus {
  border:none !important;
  box-shadow:none !important;
  background-color:#fff !important;
  font-size:16px;
}

.button-submit {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  font-size: 11px;
  text-transform: uppercase;
  background-color: #03a9f4;
  color: #ffffff;
  padding: 1.600em 4.000em;
  margin: 0px;
display: inline-block;
border: none;
cursor: pointer;
text-align: center;
vertical-align: middle;
letter-spacing: 0.300em;
line-height: 100%;
-webkit-transition: all 0.2s ease;
-moz-transition: all 0.2s ease;
-o-transition: all 0.2s ease;
-ms-transition: all 0.2s ease;
transition: all 0.2s ease;
}

#grve-main-content {
  color:#6e7177;
}

.grve-btn {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  font-size: 11px;
  text-transform: uppercase;
}
.cancel-button {
  color:#fff !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Poppins;
  font-weight: 700;
  color:#212121;
  font-style: normal;
}

h1, .grve-h1 {
  font-size: 48px;
}

h2, .grve-h2 {
  font-size: 36px;
}

h3, .grve-h3 {
  font-size: 30px;
}

h4, .grve-h4 {
  font-size: 24px;
}

h5, .grve-h5 {
  font-size: 20px;
}

h6, .grve-h6 {
  font-size: 14px;
}

#grve-theme-wrapper .grve-element.grve-image img {
opacity:1;
}

#grve-theme-wrapper .grve-container {
width:90% !important;
}
#grve-theme-wrapper #grve-header.grve-default #grve-main-menu > ul > li.current-page-parent a {
color:#000;
}

#grve-theme-wrapper p.margin-bottom, #grve-theme-wrapper .margin-bottom {
margin-bottom:20px;
}

#grve-theme-wrapper label {
line-height: 2.5em;
}

#grve-theme-wrapper #grve-header #grve-inner-header .grve-logo img {
max-height:60px;
}

#grve-theme-wrapper #grve-header.grve-default #grve-inner-header, #grve-header.grve-default[data-sticky-header='shrink'] {
background-color:#03a9f4;
}

#grve-theme-wrapper #grve-header.grve-default #grve-main-menu > ul > li > a {
color:#fff;
}

#grve-theme-wrapper .grve-copyright {
letter-spacing:1px;
text-transform:none;
}

#grve-theme-wrapper .fa.blue {
color:#03a9f4;
margin-right:10px;
}


#grve-theme-wrapper p, no-margin {
margin-bottom:0;
}

.border-rad img {
border-radius:100%;

}

.roomy-profile img {
max-width:40px;
}

.roomy-profile {
padding-left:5px !important;
padding-right:5px !important;
float:left;
}

.room-entity{
padding:20px;
border:1px solid #efefef;
}
.home .room-entity, .page-id-103 .room-entity{
min-height:270px;
}

.room-entity-full {
padding:10px;
border:1px solid #efefef;
margin-bottom:40px;
}

#grve-theme-wrapper #grve-main-menu > ul > li.current-menu-item > a, #grve-theme-wrapper #grve-main-menu > ul > li > a:hover {
color:#212121 !important;
}

#grve-theme-wrapper .grve-bg-black, #grve-theme-wrapper .grve-btn.grve-black-color {
background-color:#212121;
}

.gray-border {
border:1px solid #efefef;
}

#grve-theme-wrapper label {
font-size:16px !important;
text-transform:none;
font-weight:300;
}

.search-bar {
border-radius: 7px;
border:2px solid #efefef;
margin-bottom:40px;
}

@media only screen and (min-width: 768px) {
.room-entity {
width:49% !important;
}
.room-entity:first-child {
margin-right:1%;
}
}
