#grve-header {
  display: none !important;
}

.grve-container {
  padding-top: 0 !important;
}

mat-toolbar {

  span {
    cursor: pointer;
  }

  .fill-remaining-space {
    flex: 1 1 auto;
  }

}
#grve-main-content {
  opacity:1 !important;
  min-height:700px;
}

#grve-content-area {
  float: left;
  padding-right: 100px;
  width:75%;
  position:relative;

}

#grve-theme-wrapper .grve-container.grve-right-sidebar {
  padding-top:120px;
  padding-bottom:120px;
}

#grve-sidebar {
  float: right;
  width:25%;
  z-index: 3;
  position: relative;
}

#grve-footer-bar {
  background-color: rgba(33, 33, 33, 1);
  color: #bdbdbd;
}

#grve-footer-bar {
  padding-top: 40px;
  padding-bottom: 40px;
}

footer {
  clear:both;
}

#grve-footer-bar a, #grve-footer-bar #grve-second-menu li a, #grve-footer-bar .grve-social li a, #grve-footer-bar .grve-social li:after {
  color: #bdbdbd;
}

#grve-footer-bar a:hover, #grve-footer-bar #grve-second-menu li a:hover {
  color:#03a9f4;
}

#grve-header #grve-inner-header {
  height: 90px;
  line-height: 90px;
}

#grve-header #grve-main-menu > ul > li > a, #grve-header .grve-responsive-menu-text {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  text-transform: uppercase;
}

body {
  font-size: 14px;
  font-family: "Open Sans";
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Poppins;
  font-weight: 700;
  color:#212121;
  font-style: normal;
}

h1, .grve-h1 {
  font-size: 48px;
}

h2, .grve-h2 {
  font-size: 36px;
}

h3, .grve-h3 {
  font-size: 30px;
}

h4, .grve-h4 {
  font-size: 24px;
}

h5, .grve-h5 {
  font-size: 20px;
}

h6, .grve-h6 {
     font-size: 14px;
   }

#grve-footer-bar .grve-copyright, #grve-footer-bar #grve-second-menu li a{
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  font-size: 10px;
  text-transform: uppercase;
}
/*
.left-content {
  overflow: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 33%;
  top: 64px;
}

.left-content::-webkit-scrollbar {
  display: none;
}

.right-content {
  overflow: auto;
  position: absolute;
  bottom: 0;
  left: 66%;
  right: 0;
  top: 64px;
}

.right-content::-webkit-scrollbar {
  display: none;
}

.navbar_tab {
  padding-left: 1em;
  padding-right: 1em;
}*/
