<div>
  <div id="grve-theme-wrapper" style="height:100%;width:100%;">


    <!-- HEADER-->
    <header id="grve-header" data-gotosection="" data-fullscreen="no" data-overlap="no" data-sticky-header="simply" data-logo-background="transparent"
      data-logo-align="left" data-menu-align="right" data-menu-type="simply" data-safebutton="no" data-topbar="no" data-menu-options="no"
      data-header-position="above-feature" data-backtotop="yes" class="grve-default">



      <!-- Logo, Main Navigation, Header Options -->
      <div id="grve-header-wrapper">
        <div id="grve-inner-header" style="top: 0px; position: fixed;">
          <div class="grve-container">
            <div class="grve-logo ">
              <a class="grve-default" href="/">
                <img src="http://dev.testwpinstall.com.php56-12.phx1-2.websitetestlink.com/wp-content/uploads/2017/11/logo2.png" alt="Roomy"
                  title="Roomy - the Room Finder" data-no-retina="" width="479" height="117" style="height:127px;">
              </a>


            </div>
            <!-- end logo-->


            <!-- End Main Menu -->
            <!--<mat-toolbar color="primary" style="min-height:64px;">-->
            <!-- <span [routerLink]="['/booked']" class="navbar_tab">roomy</span>-->

            <span class="fill-remaining-space"></span>
            <nav id="grve-main-menu" class="grve-menu-pointer-none" data-animation-style="none">
              <ul id="menu-main-menu-1" class="grve-menu">
                <li class="menu-item">
                  <a [routerLink]="['/free']" class="navbar_tab">Free</a>
                </li>
                <li class="menu-item">
                  <a [routerLink]="['/booked']" class="navbar_tab">Booked</a>
                </li>
                <li class="menu-item">
                  <a *ngIf="(user$ | async)" [routerLink]="['/my-area']">Dashboard</a>
                </li>
              </ul>
            </nav>
            <!-- </mat-toolbar>-->
          </div>
        </div>
      </div>
    </header>
    <!-- MAIN CONTENT-->
    <div id="grve-main-content">
      <div class="grve-container grve-right-sidebar">
        <!-- left content-->
        <div id="grve-content-area" class="left-content">
          <div style="padding:2em;">
            <router-outlet></router-outlet>
          </div>
        </div>

        <!-- right contet-->
        <div id="grve-sidebar" class="right-content grve-sidebar">
          <div style="padding:2em;">
            <router-outlet name="rightrouter"></router-outlet>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
