<div class="grve-row grve-bookmark">
  <div class="wpb_column grve-column grve-bookmark grve-column-1-2" *ngFor="let booking of bookings$ | async">

      <div class="room-entity-full">
        <div class="grve-row">
          <div class="grve-column grve-column-1">
            <h5 class="grve-box-title">
        {{ booking.title }}
      </h5>

            <p class="time"><i class="blue fa fa-clock-o" aria-hidden="true"></i>{{ booking.fromDate | date: 'MMM dd, HH:mm' }}-{{ booking.toDate | date: 'HH:mm' }}
        </p>
            <p class="room-number"><i class="blue fa fa-location-arrow" aria-hidden="true"></i><strong>{{ booking.roomId }}</strong>
        </p>

      <div *ngIf="(user$ | async)">
        <div class="roomy-profile grve-element grve-image border-rad participant-img" *ngFor="let user of booking.participants | slice:0:2">
          <img [src]="user.picture" [matTooltip]="user.first + ' ' + user.last" />
        </div>
        <div class="roomy-profile grve-element" *ngIf="booking.participants.length > 2">
          <span [matTooltip]="plusMoreTooltip(booking)">
            +{{ booking.participants.length - 2 }} more
          </span>
        </div>
        <div class="grve-element grve-align-left">
        <button *ngIf="!participating(booking)" class="join-button grve-btn grve-btn-small grve-round grve-bg-primary-1 grve-btn-line" (click)="join(booking.bookingId)">JOIN</button>
        </div>
        </div>
          </div>
        </div>
      </div>
  </div>
</div>
