<h1 mat-dialog-title>BOOK: {{ freeRoom.name }}</h1>
<div mat-dialog-content>
  <mat-form-field class="full-width">
    <label>Title</label>
    <input matInput type="text"  [formControl]="titleFormControl" [errorStateMatcher]="matcher">
    <mat-error *ngIf="titleFormControl.hasError('required')">
      Title is
      <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <label>From Time</label>
    <input matInput type="number"  [formControl]="fromFormControl" [errorStateMatcher]="matcher">
    <mat-error *ngIf="fromFormControl.hasError('min') && !fromFormControl.hasError('required')">
      At least
      <strong>{{ fromTime }}</strong>
    </mat-error>
    <mat-error *ngIf="fromFormControl.hasError('max') && !fromFormControl.hasError('required')">
      At most
      <strong>{{ toTime }}</strong>
    </mat-error>
    <mat-error *ngIf="fromFormControl.hasError('required')">
      From time is
      <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <label>To Time</label>
    <input matInput type="number" [formControl]="toFormControl" [errorStateMatcher]="matcher">
    <mat-error *ngIf="toFormControl.hasError('min') && !toFormControl.hasError('required')">
      At least
      <strong>{{ fromTime }}</strong>
    </mat-error>
    <mat-error *ngIf="toFormControl.hasError('max') && !toFormControl.hasError('required')">
      At most
      <strong>{{ toTime }}</strong>
    </mat-error>
    <mat-error *ngIf="toFormControl.hasError('required')">
      To time is
      <strong>required</strong>
    </mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button class="button-submit" (click)="book()" tabindex="2" [disabled]="titleFormControl.invalid || fromFormControl.invalid || toFormControl.invalid">BOOK</button>
  <button class="cancel-button" (click)="onNoClick()" tabindex="-1">CANCEL</button>
</div>
