/* You can add global styles to this file, and also import other style files */

// Angular Material theme
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-card {
  border: 1px solid lightgrey;
  border-radius: 10px;
  margin: 3px;
  border-radius: 10px !important;
}

.mat-tooltip {
  text-transform: uppercase;
}

.mat-form-field-underline {
  /*color: #03a9f4 !important;
  background-color: #03a9f4 !important;*/
}

.mat-form-field-ripple {
  background-color: #03a9f4 !important;
}

#grve_theme_wrapper .mat-dialog-content inut {
  border:none !important;
}
